<!-- TODO: Make a basic navbar and make this page look nicer -->
<!DOCTYPE html>
<html>
  <head>
    <title>Wii U Simulator</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body {
        padding: 2rem;
      }
      .btn {
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <h1 class="text-center">Wii U Simulator</h1>
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    
      <div>
        <h2 class="mb-4">Scan the QR to go to the required page with your phone</h2>
      </div>

      <a href="/phone" target="_blank">
        <div id="qrcode"></div>
      </a>
      <a href="/game" target="_blank" class="btn btn-primary btn-lg">Game Page</a>
    </div>

    <p id="url" class="text-center"></p>


    <!-- QR Code -->
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script src="/qr.js" type="application/javascript"></script>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>